<h1>Seja bem vindo!</h1>

<ul>
    <li><a href="/tipos">Tipos</a></li>
    <li><a href="/contatos">Contatos</a></li>
    <li><a href="/enderecos">Endereços</a></li>
    <li><a href="telefones">Telefones</a></li>
</ul>
